.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.preload-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 1000;
}

.icon-load {
  //display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-dark {
  background: var(--blackish);
  color: var(--softGray);
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    //opacity: .25;
    background: rgba(0, 0, 0, .82);
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title-text {
  margin: 0 0 16px;
  font-size: 1.5rem;
  font-weight: 700;
}

.simple-text {
  margin: 0 0 16px;
  font-size: 1rem;
}

.main-form {
  width: 100%;
  max-width: 527px;

  .form-group {
    width: 100%;
  }

  input:not([type="submit"]) {
    width: 100%;
    padding: 14px 20px;
    border: 1px solid var(--gray);
    border-radius: 30px;
  }
  textarea {
    width: 100%;
    min-height: 100px;
    height: 130px;
    max-height: 160px;
    padding: 14px 20px;
    border: 1px solid var(--gray);
    border-radius: 30px;
    transition: none;
  }

  &__submit {
    @extend .btn, .btn-lg, .btn-info, .offer-link;
    width: 100%;
    padding: 10px 40px;
  }
}

.offer-link {
  width: 100%;
  background: var(--first-color);
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: normal;
}

.main-slider {
  .swiper {
    &-slide {
      width: auto;
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }
}