/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 100;
}

.header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 16px 0;

  &__menu {
    display: none;

    &-link {
      text-decoration: none !important;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-content {
    justify-content: space-between;

    .logo {
      img {
        max-width: 240px;
      }
    }

    &__menu {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
@include media-breakpoint-up(xl) {
  .header-content {
    .logo {
      img {
        max-width: 100%;
      }
    }

    &__menu {
      gap: 40px;
    }
  }
}